.sum-panel-1 {
    /* background-color: rgb(235, 235, 235); */
    display: inline-block;
    box-shadow: 0.5px 0px 2px 0.5px rgba(0, 0, 0, 0.37);
    width: 40%;
    height: 15em;
    margin-top: 1em;
    border-radius: 10px;
}

.sum-panel-2 {
    /* background-color: rgb(235, 235, 235); */
    display: inline-block;
    box-shadow: 0.5px 0px 2px 0.5px rgba(0, 0, 0, 0.37);
    width: 40%;
    height: 15em;
    margin-top: 1em;
    margin-left: 3em;
    border-radius: 10px;
}

.report-page {
    display: flex;
}

.top-stats {
    display: flex;
    width: 100%;
}

.transactions {
    box-shadow: 0.5px 0px 2px 0.5px rgba(0, 0, 0, 0.37);
    width: 90%;
    height: 25em;
    margin-top: 3em;
    margin-left: 3em;
    border-radius: 10px;
}

.area {
    width: 100%;
    height: 100%;
    margin-top: 5em;
}

.gain-val {
    color: green;
    font-family: 'Times New Roman';
    font-size: 21px;
}

.loss-val {
    color: green;
    font-family: 'Times New Roman';
    font-size: 21px;
}